/*
* {
  margin: 0;
  padding: 0;
}
*/

/*
* {
  border: 1px solid green;
}
*/

@font-face {
  font-family: Padyakke;
  src: url(../fonts/PadyakkeExpandedOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Gruppo;
  src: url(../fonts/Gruppo-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

/* SOMETHING INTERESTING */

body {
  background-color: black;
  /*background-color: #141E30;*/
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#nav-section {
  position: fixed;
  z-index: 10;
  background-color: black;
  max-width: 1260px;
  min-width: 400px;
  text-align: center;
}

.navigation {
  /*display: flex;
  justify-content: center;*/
  padding-top: 30px;
  padding-bottom: 30px;
  width: 1260px;

}

.navigation a {
  /*color: rgb(126, 2, 249);*/
  color: hsl(240, 100%, 80%);
  font-size: 26px;
  margin-left: 12px;
  margin-right: 12px;
  text-decoration: none;
  font-family: Gruppo;
  font-weight: bolder;
  word-spacing: 5px;
  font-style: italic;
  padding-top: 10px;
}

.navigation .site-name {
  /*color: maroon;*/
  color: hsl(325, 50%, 50%);
  font-size: 36px;
  font-style: italic;
  font-family: serif;
  font-weight: normal;
}

.navigation .site-some {
  /*color: maroon;*/
  font-size: 36px;
  font-family: Gruppo;
  font-weight: bolder;
  word-spacing: 5px;
  font-style: normal;
  color: rgb(167, 249, 2);
  /*color: hsl(325, 50%, 50%);*/
}

.navigation .site-art {
  /*color: maroon;*/
  font-size: 36px;
  font-family: Gruppo;
  font-weight: bolder;
  word-spacing: 5px;
  font-style: normal;
  color: hsl(325, 50%, 50%);
}

a:hover {
  color: hsl(325, 50%, 50%);
}

main {
  /*background-color: #141E30;*/
  /*width: 1260px;*/
  max-width: 1260px;
  min-width: 400px;
  margin-top: 100px;
  background-color: black;
}

#banner-section {
  background-color: #141E30;
  padding: 20px;
  border-radius: 10px;
  display: flex;
}

.banner {
  background-image: url(../images/banner_background_best.png);
  background-size: contain;
  background-position: center;
  height: 340px;
  width: 860px;
  position: relative;
  margin: 60px 10px 60px 80px;
  box-shadow: 1px 1px 80px -20px aqua;
  border-radius: 50%;
}

.banner-logo {
  position: absolute; /* margin: 0 auto; -horizontally centers an element inside of its parent */
  top: 40px;
  left: 1000px;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
}

.furo-logo {
  background-size: contain;
  background-position: center;
  position: relative;
  background-color: black;
  margin: 0 auto;
}

.orig-logo {
  position: absolute; /* margin: 0 auto; -horizontally centers an element inside of its parent */
  top: 160px;
  left: 40px;
  /*transform: translate(-50%, -50%);*/
  height: 350px;
  width: 350px;
}

.furo-logo-friend {
  background-size: contain;
  background-position: center;
  position: relative;
  background-color: black;
  margin: 0 auto;
}

.orig-logo-friend {
  position: absolute; /* margin: 0 auto; -horizontally centers an element inside of its parent */
  top: 160px;
  left: 870px;
  /*transform: translate(-50%, -50%);*/
  height: 350px;
  width: 350px;
}

.brake {
  height: 120px;
  background-color: black;
  text-align: center;
  padding-top: 30px;
}

.brake p {
  color: #01caca;
 /* color: red;*/
  font-size: 20px;
  padding-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

.attention,
.attention-furo {
  display: flex;
  justify-content: center;
  margin: 30px;
  /*margin-top: 30px;
  margin-bottom: 30px;*/
}

.attention-nav {
  display: flex;
  justify-content: center;
  margin: 0px 30px 30px 30px;
  /*margin-top: 30px;
  margin-bottom: 30px;*/
}

.attention p,
.attention-nav p,
.attention-furo em {
  /*color: hsl(240, 100%, 80%);*/
  /*color: hsl(325, 50%, 50%);*/
  color: rgb(162, 161, 161);
  font-size: 24px;
  text-align: center;
  width:fit-content;
  border-bottom: 0.5px solid gray;
  font-family: alexa-std;
  letter-spacing: 1px;
}

.attention-nav p {
  margin-top: 3px;
  border-top: 1px solid hsl(325, 50%, 50%);
  border-bottom: 1px solid hsl(325, 50%, 50%);
}

h1 {
  /*color: maroon;*/
  color: hsl(325, 50%, 50%);
  font-size: 3em;
  text-align: center;
  font-family: Gruppo;
  word-spacing: 15px;
}


#fugu, #logic, #runaway, #main-furo {
  background-color: #141E30;
  /*margin-top: 60px;
  margin-bottom: 60px;*/
  padding: 20px 40px 40px 40px;
  border-radius: 10px;
} 

h2 {
  color: rgb(167, 249, 2);
  text-align: center;
  font-family: Padyakke;
  font-size: 48px;
  font-weight: normal;
}

p, li {
  /*color: rgb(4, 146, 146);*/
  /*color: #02dada;*/
  /*color: #01bbbb;*/
  color: #01caca;
  line-height: 26px;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  /*font-family: Helvetica;
  font-weight: lighter;
  font-style: italic;*/

  /*font-family: acumin-pro;*/
  font-family: Lato;
  font-weight: 200;
  font-style: normal;
}

#ai p {
  /*color: rgb(167, 249, 2);*/
  color: hsl(325, 50%, 50%);
  margin: 30px 0 20px 30px;
  text-align: left;
  letter-spacing: 1px;
  font-family: alexa-std;
  font-size: 30px;
  font-weight: bolder;
  /*font-family: Gruppo;
  font-family: Padyakke;
  font-family: Gruppo;
  font-size: 24px;
  font-weight: bolder;
  */
}

.ai-span {
  border-radius: 50%;
  border: 1px solid rgb(167, 249, 2);
  /*padding: 7px 5px 0 5px;*/
  padding: 5px 8px 4px 5px;
}


.news-image {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.news-image-box {
  height: 450px;
  width: 400px;
  /*border: 1px solid hsl(220, 40%, 50%);*/
  padding: 5px;
  margin: 5px;
}

.news-image-box .news-image-container {
  overflow: hidden;
  margin-bottom: 10px;
}

.news-image-container {
  border-radius: 5%;
}

.news-image-box .news-image-container img {
  height: 400px;
  width: 400px;
}

.news-image-box .caption {
  /*color: rgb(252, 144, 144);*/
  color:gray;
  /*color: #a9acb6;*/
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: serif;
  /*font-family: Lato;*/
  font-size: 15px;
}

.ul-music li, .ul-music a {
  /*color: rgb(126, 2, 249);*/
  color: hsl(240, 100%, 80%);
  font-size: 17px;
  text-decoration: none;
}

.ul-music a:hover {
  color: hsl(325, 50%, 50%);
}



.friend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.flat-furo {
  font-family: Gruppo;
  height: 40px;
  width: fit-content;
  cursor: pointer;
  font-size: 30px;
  color: hsl(240, 100%, 80%);
  /*margin-top: 40px;*/
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 1px solid hsl(240, 100%, 80%);
  border-radius: 10px;
}

.flat-furo:hover {
  /*background-color: rgb(57, 56, 56);*/
  transition: background-color .15s;
  font-size: .15s;
  font-size: 36px;
}

.flat-furo:active {
  border-color: #141E30;
  font-size: 30px;
}

footer {
  background-color: #141E30;
  text-align: center;
  border-radius: 10px;
}

footer figcaption {
  /*color: rgb(140, 140, 140);*/
  /*color: rgb(252, 144, 144);*/
  color: hsl(325, 50%, 50%);
  font-size: 18px;
  font-style: italic;
  padding: 60px;
}

/* ART */ 

#art-gallery {
  background-color: #141E30;
  position: relative;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-radius: 10px;
}

.art {
  display: inline-block;
  height: fit-content;
  width: fit-content;
  margin: 5px;
}

.art img {
  height: 380px;
  width: 380px;
  padding: 5px;
  border: 1px solid hsl(220, 40%, 50%);
}

/* Music */

#music-gallery {
  background-color: #141E30;
  position: relative;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
  border-radius: 10px;
  /*margin-top: 80px;
  margin-bottom: 60px;*/
}

.music {
  display:inline-block;
  height: fit-content;
  width: fit-content;
  margin: 5px 5px 20px 5px;
  /*border: 1px solid hsl(220, 40%, 50%);*/
}

.music video {
  height: 380px;
  width: 380px;
  padding: 5px;

}

.p-music {
  color: gray;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: serif;
  font-size: 15px;
  padding-bottom: 10px;
}

.span-music {
  font-family: sans-serif;
  padding-left: 2px;
}

/* Video */

.video-gallery {
  background-color: #141E30;
  position: relative;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-radius: 10px;
  /*display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;*/
}

.video-gallery video {
  height: 240px;
  width: 380px;
  padding: 5px;
  margin: 5px;
  border: 1px solid hsl(220, 40%, 50%);
}



/* FuRo Slider */ /* Gemini */

/*
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}
*/

/*
.slides {
  display: flex;
  animation: slide 16s infinite linear;
  /*(animation: name duration timing-function delay iteration-count direction fill-mode;)*/
  /*
  animation-duration: 18s;
  animation-timing-function:linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: slide; /*animation-name: slider;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  background-repeat: no-repeat;
} */

/*
.slides li {
  flex: 0 0 auto;
}

.slides img {
  width: 300px;
  height: 300px;
  /*
  width: 100%;
  height: auto;

  object-fit: cover;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}*/


/* FuRo with banner animation 1 */

 /*
section {
  unicode-bidi: isolate;
  margin-top: 80px;
  margin-bottom: 80px;
}

#anime {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 540px;
  padding: 5px;
  border: 1px solid hsl(220, 40%, 50%);
  border-radius: 10px;
}

.slides {
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: slider;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  background-repeat: no-repeat;
}

@keyframes slider {
  0% {
    background-image: url(../images/anime_orig_1.png);
  }
  15% {
    background-image: url(../images/anime_orig_1.png);
  }
  16% {
    background-image: url(../images/anime_orig_2.png);
  }
  31% {
    background-image: url(../images/anime_orig_2.png);
  }
  32% {
    background-image: url(../images/anime_orig_3.png);
  }
  47% {
    background-image: url(../images/anime_orig_3.png);
  }
  48% {
    background-image: url(../images/anime_orig_4.png);
  }
  63% {
    background-image: url(../images/anime_orig_4.png);
  }
  64% {
    background-image: url(../images/anime_orig_5.png);
  }
  79% {
    background-image: url(../images/anime_orig_5.png);
  }
  80% {
    background-image: url(../images/anime_orig_6.png);
  }
  99% {
    background-image: url(../images/anime_orig_6.png);
  }
  100% {
    background-image: url(../images/anime_orig_1.png);
  }
}
*/

/* FuRo with banner animation 2 */

.grid-container {
  unicode-bidi: isolate;
  /*margin-top: 80px;*/
  /*margin-bottom: 40px;*/
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px; /* ? */
  background-color: #141E30;
  padding-top: 120px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.grid-item {
  height: 400px;
  width: 400px;
  background-size: cover;
  background-position: center;
  margin-left: 430px;
  padding: 5px;
  border: 1px solid hsl(220, 40%, 50%);
  border-radius: 10px;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: slider;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  background-repeat: no-repeat;
}

@keyframes slider {
  0% {
    background-image: url(../images/anime_orig_2.png);
  }
  13% {
    background-image: url(../images/anime_orig_2.png);
  }
  14% {
    background-image: url(../images/anime_orig_3.png);
  }
  27% {
    background-image: url(../images/anime_orig_3.png);
  }
  28% {
    background-image: url(../images/anime_orig_4_back.png);
  }
  41% {
    background-image: url(../images/anime_orig_4_back.png);
  }
  42% {
    background-image: url(../images/anime_orig_5.png);
  }
  55% {
    background-image: url(../images/anime_orig_5.png);
  }
  56% {
    background-image: url(../images/anime_orig_6_back.png);
  }
  69% {
    background-image: url(../images/anime_orig_6_back.png);
  }
  70% {
    background-image: url(../images/anime_orig_7.png);  
  }
  86% {
    background-image: url(../images/anime_orig_7.png);
  }
  87% {
    background-image: url(../images/anime_orig_8.png);
  }
  100% {
    background-image: url(../images/anime_orig_8.png);
  }
}

.span-furo {
  /*color: rgb(140, 140, 140);*/
  color: red;
  font-size: 36px;
  text-align: center;
  font-family: alexa-std;
  letter-spacing: 1px;
  font-style: italic;
  margin-top: -40px;
  margin-bottom: 60px;
}

/* FuRo without banner animation */

/*
#banner-furo {
  height: 200px;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.banner-furo img {
  height: 200px;
  width: 100px;
}

#banner-furo .full {
  height: 200px;
  width: 200px;
  padding-left: 40px;
  padding-right: 40px;
} 
*/

@media only screen and (max-width: 1070px) {

  main {
    margin-top: 128px;
  }

  .navigation {
    text-align: center;
    width: fit-content;
  }

  .banner {
    margin: 0 auto;
  }

  .banner-logo {
    position: relative;
    left: 70%;
  } 

}

@media only screen and (max-width: 700px) {
  main {
    margin-top: 162px;
  }
}