body {
  background-color: lightcoral;
}

/**
background-color: rgb(72,61,139);
background-color: aquamarine;
1] background-color: lightcoral;
2] background-color: lightskyblue;
background-color: #242f44; (dark-grey-blue)