/*-- General Styles --*/

/* html default font-size = 16px */

/*margin: 0 auto; -horizontally centers an element inside of its parent */


* {
  box-sizing: border-box;
} /* doesn't affect by border tickness or padding*/

/*
* {
  border: 1px solid green;
}
/*

/*-- Universal Styles --*/

@font-face {
  font-family: Padyakke;
  src: url(../fonts/PadyakkeExpandedOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Gruppo;
  src: url(../fonts/Gruppo-Regular.ttf) format("truetype");
}

body {
  background-color: black;
  margin: 0 auto;
}

/*-- Navigation Section --*/

.container-main-nav {
  display: flex;
  justify-content: center;
  height: 120px;
  /*border: 1px solid orange;*/
}

.container-nav {
  position: fixed;
  z-index: 10;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  max-width: 1260px;
  min-width: 380px;
  width: 100%;
  padding: 30px 0px 30px 0px;
  /*border: 1px solid blue;*/
  top: 0px;
}

.box-nav {
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid orange;
}

.box-nav a {
  color: hsl(240, 100%, 80%);
  font-size: 1.625rem; /*orig:26px*/
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  text-decoration: none;
  font-family: Gruppo;
  font-weight: bolder;
  font-style: italic;
  /*border: 1px solid violet;*/
}

.box-nav .site-name {
  font-family: alexa-std;
  color: hsl(325, 50%, 50%);
  font-size: 2.5rem; /*orig:40px*/
  font-weight: normal;
  letter-spacing: 1px;
  padding:5px;
}

.box-nav .site-something {
  font-family: Gruppo;
  color: rgb(167, 249, 2);
  font-size: 2.25rem;/*orig:36px*/
  font-style: normal;
  word-spacing: 5px;
}

.box-nav .site-other {
  font-family: Gruppo;
  color: hsl(325, 50%, 50%);
  font-size: 2.25rem;/*orig:36px*/
  font-style: normal;
}

.box-nav a:hover {
  color: orange;
}

.box-nav .site-name:hover,
.box-nav .site-other:hover {
  color: hsl(325, 50%, 50%);
}  

.box-nav .site-something:hover {
  color: rgb(167, 249, 2);
}

/*-- Banner Section --*/

.container-main-ban {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1260px;
  min-width: 380px;
  border: 1px solid orange;
  border-radius: 10px;
}

.banner-section {
  display: flex;
  background-color: #141E30;
  width: 100%;
  padding: 60px;
  /*border: 1px solid blue;*/
  border-radius: 10px;
}

.banner {
  background-image: url(../images/banner_background_best.png);
  background-size: contain; /*cover*/
  background-position: center;
  height: 340px;
  width: 860px;
  position: relative;
  box-shadow: 1px 1px 80px -20px aqua;
  /*border:1px solid red;*/
  border-radius: 50%;
}

.banner-logo {
  position: absolute;
  top: 40px;/*40px*/
  left: 1000px;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  /*border: 1px solid violet;*/
}

/*-- Attention Section --*/

.attention {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1260px;
  min-width: 380px;
  padding: 30px;
  /*border: 1px solid blue;*/
}

.attention p {
  color: rgb(162, 161, 161);
  /*color: aliceblue;*/
  font-size: 22px;
  text-align: center;
  font-family: alexa-std;
  letter-spacing: 1.5px;
  /*border: 1px solid red;*/
}


.attention-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1260px;
  min-width: 380px;
  padding: 5px 30px 30px 30px;
  /*padding-left: 30px;
  padding-right: 30px;*/
  /*border: 1px solid blue;*/
}


.attention-nav p {
  color: rgb(162, 161, 161);
  /*color: aliceblue;*/
  font-size: 22px;
  text-align: center;
  font-family: alexa-std;
  letter-spacing: 1.5px;
  padding-top: 5px;
  /*border: 1px dotted hsl(325, 50%, 50%);*/
  /*border-top: 1px solid hsl(325, 50%, 50%);
  border-bottom: 1px solid hsl(325, 50%, 50%);
  border-radius: 5px;*/
}

/*-- Main Section [MS] --*/

.somenews {
  margin: 0 auto;
  background-color: #141E30;
  max-width: 1260px;
  min-width: 380px;
  padding: 60px 60px 50px 60px;
  border: 1px solid orange;
  border-radius: 10px;
} 

.somenews h2 {
  color: rgb(167, 249, 2);
  text-align: center;
  /*font-family: Padyakke;*/
  font-size: 48px;
  font-weight: normal;
  font-family: Gruppo;
  font-style: italic;
  letter-spacing: 1px;
  /*border: 1px solid blue;*/
  border-bottom: 1px solid orange;;
}

.somenews p,
.somenews li {
  color: #01caca;
  line-height: 26px;
  font-size: 17px;
  font-family: Lato;
  font-weight: 200;
  margin-left: 60px;
  margin-right: 60px;
}

#ai p {
  color: hsl(325, 50%, 50%);
  margin: 30px 0 30px 0px;
  text-align: left;
  letter-spacing: 1px;
  font-family: alexa-std;
  font-size: 30px;
  font-weight: bolder;
}

.ai-span {
  border-radius: 50%;
  border: 1px solid rgb(167, 249, 2);
  padding: 5px 12px 5px 10px;
  margin: 5px;
}

.related-music li, .related-music a {
  color: hsl(240, 100%, 80%);
  font-size: 17px;
  text-decoration: none;
}

.related-music a:hover {
  color: hsl(325, 50%, 50%);
}

.brake {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1260px;
  min-width: 380px;
  padding: 30px;
  /*height: 120px;*/
  /*border: 1px solid blue;*/
}

.brake p {
  color: #01caca;
  font-size: 20px;
  padding-top: 5px;
  /*margin-left: 30px;
  margin-right: 30px;*/
  /*border: 1px solid red;*/
}

/*-MS: News-Image Section-*/

.news-image {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  /*border: 1px solid blue;*/
}

.news-image-box {
  display: inline-flexbox;
  /*height: 450px;*/
  /*width: 380px;*/
  /*padding: 5px;*/
  margin: 5px;
  /*border: 1px solid red;*/
}

.news-image-container {
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px;
}

.news-image-container img {
  height: 360px;
  width: 360px;
}

.news-image-caption {
  color:gray;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: serif;
  letter-spacing: 0.5px;
  font-size: 15px;
}

/*-- Footer Section --*/

footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1260px;
  min-width: 380px;
  padding: 30px;
  /*height: 120px;*/
  background-color: #141E30;
  /*text-align: center;*/
  border-radius: 10px;
  /*border: 1px solid blue;*/
  border: 1px solid orange;
}

footer figcaption {
  color: hsl(325, 50%, 50%);
  font-size: 24px;
  letter-spacing: 1px;
  font-family: alexa-std;
  font-style: italic;
  /*padding: 40px;*/
  /*border: 1px solid red;*/
}

/*-- ART --*/ 

#art-gallery {
  margin: 0 auto;
  max-width: 1260px;
  min-width: 380px;
  background-color: #141E30;
  position: relative;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-radius: 10px;
  border: 1px solid orange;
}

.art {
  display: inline-block;
  border: 1px solid hsl(220, 40%, 50%);
  border-radius: 5px;
  margin: 5px 5px 10px 5px;
  overflow: hidden;
}

.art img {
  height: 360px;
  width: 360px;
  border: 1px solid hsl(220, 40%, 50%);
}

.art .img-wide {
  height: 200px;
  width: 360px;
  border: 1px solid hsl(220, 40%, 50%);
}

.p-art-mv {
  color: gray;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: serif;
  letter-spacing: 0.5px;
  font-size: 15px;
  padding: 5px;
}

/*-- Music --*/

#music-gallery {
  margin: 0 auto;
  max-width: 1260px;
  min-width: 380px;
  background-color: #141E30;
  position: relative;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
  border-radius: 10px;
  border: 1px solid orange;
}

.music {
  display:inline-block;
  /*height: fit-content;
  width: fit-content;*/
  margin: 5px 5px 20px 5px;
  border: 1px solid hsl(220, 40%, 50%);
}

.music video {
  height: 360px;
  width: 360px;
  /*padding: 5px;*/
  border: 1px solid red;
}

.span-music {
  font-family: sans-serif;
  /*padding-left: 2px;*/
  /*padding: 5px;*/
}

.music .p-art-mv {
  padding: 5px;
}

/*-- Video --*/

#video-gallery {
  margin: 0 auto;
  max-width: 1260px;
  min-width: 380px;
  background-color: #141E30;
  position: relative;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  border: 1px solid orange;
}

.video-box {
  display: inline-block;
  margin: 5px;
  border: 1px solid hsl(220, 40%, 50%);
}

.video-box video {
  /*height: 240px;*/
  width: 360px;
  /*padding: 5px;*/
  border: 1px solid red;
}

.video-box .p-art-mv {
  padding: 5px;
}

/*-- @Media --*/

@media only screen and (max-width: 1160px) {
  .container-nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .banner {
    margin: 0 auto;
  }
  .banner-logo {
    position: relative;
    left: 70%;
  } 
}

@media only screen and (max-width: 835px) {
  html {
    font-size: 13.5px;
  }
  .banner-section {
    padding: 20px;
  }
  .container-nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container-main-nav {
    height: 105px;
  }
  .somenews {
    padding: 20px;
  } 
  .somenews p,
  .somenews li {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media only screen and (min-width: 800px) and    (max-width: 835px) {
  .container-nav {
    position: relative;
    z-index: 0;
  }
  .banner {
    height: 320px; /*340px*/
    width: 820px; /*860px*/
  }
}

@media only screen and (max-width: 600px) {
  .container-main-nav {
    height: 140px;
  }
}

@media only screen and (max-width: 450px) {
  .container-main-nav {
    height: 170px;
  }
  .somenews {
    padding: 5px;
  }
  #video-gallery {
    padding-left: 0px;
    padding-right: 0px;
  }
  .somenews p,
  .somenews li,
  .somenews ol,
  .somenews ul {
    margin-left: 0px;
    margin-right: 0px;
  }
  .news-image-container img {
    height: 320px;
    width: 320px;
  }
}



